.pokemon-type {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  gap: 5%;
}
.pokemon-type-item {
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.3ch;
  flex-basis: 7ch;
  text-align: center;
  color: white;
}
.pokemon-card > .card-img-top {
  background-image: linear-gradient(40deg, rgba(2, 0, 36, 0.35) 43%, rgba(255,255,255,0.35) 100%);
}
.card-body {
  background-color: rgba(245, 245, 245, 0.8);
}
.normal {
  background-color: #a8a77a;
}
.fire {
  background-color: #ee8130;
}
.water {
  background-color: #6390f0;
}
.electric {
  background-color: #f7d02c;
}
.grass {
  background-color: #7ac74c;
}
.ice {
  background-color: #96d9d6;
}
.fighting {
  background-color: #c22e28;
}
.poison {
  background-color: #a33ea1;
}
.ground {
  background-color: #e2bf65;
}
.flying {
  background-color: #a98ff3;
}
.psychic {
  background-color: #f95587;
}
.bug {
  background-color: #a6b91a;
}
.rock {
  background-color: #b6a136;
}
.ghost {
  background-color: #735797;
}
.dragon {
  background-color: #6f35fc;
}
.dark {
  background-color: #705746;
}
.steel {
  background-color: #b7b7ce;
}
.fairy {
  background-color: #d685ad;
}

.pokemon-stats {
  display: grid;
  place-items: center;
}
.pokemon-stats-label {
  color: black;
  font-size: 2rem;
  text-anchor: middle;
}
.pokemon-stats-container {
  fill: grey;
  fill-opacity: 70%;
}
.pokemon-stats-value {
  fill: rgb(124, 79, 209);
  text-anchor: middle;
  font-size: 2.3rem;
  font-weight: 700;
}
.pokemon-stats-chart {
  fill: rgb(124, 79, 209);
  fill-opacity: 50%;
}